<footer class="row">
  <div class="col-6 col-md-3">
<p class="footer__info_text mb-1">
  Ветер
</p>
<p class="footer__info_content mb-1" id="wind">

</p>
  </div>
  <div class="col-6 col-md-3 ">
    <p class="footer__info_text mb-1">
      Давление
    </p>
    <p class="footer__info_content mb-1" id="pressure">

    </p>
  </div>
  <div class="col-6 col-md-3">
    <p class="footer__info_text mb-1">
      Влажность
    </p>
    <p class="footer__info_content mb-1" id="humidity">

    </p>
  </div>
  <div class="col-6 col-md-3">
    <p class="footer__info_text mb-1">
      Верояность дождя
    </p>
    <p class="footer__info_content mb-1" id="rainChance">
         
    </p>
  </div>
</footer>
