<main class="">
  <div class="row">
    <div class="col-sm-12 col-md-12  main__content">
      <div class="main__weather__city text-center d-none d-md-block cityName" >

      </div>
  <div class="main__weather d-flex justify-content-center mx-auto">
    <img class="main__weather__img" src="http://openweathermap.org/img/wn/01d@2x.png" alt="weather icon here" id="weatherIcon">
    <p class="main__content__weather__number d-inline-block" id="weatherDegrees"></p><p class="main__content__weather__number d-inline-block">º</p>
  </div>
  <div class="main__weather__state d-block text-center" id="weatherDescription">

  </div>
</div>
</div>

</main>
